@import '../variables';

.cta {
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 15px;
  margin: 2rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .cta-button {
    display: inline-block;
    background-color: white;
    color: $green;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;

    @media #{$sm} {
      font-size: 2rem;
    }

    &:hover {
      background-color: $green;
      color: white;
    }

    span {
      display: block;
      font-size: 2rem;

      @media #{$sm} {
        font-size: 3rem;
      }
    }
  }

  .language-info {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #f0f0f0;
  }
}