@import '../variables';
@import '../core-flex';

.tabel-info {
  @extend .box-flex;
  @extend .column;
  @extend .ai-center;

  &__box {


    &.image {
      @media #{$md} {
        width: 50%;
      }
    }

    &.text {
      max-width: 100%;
      padding: 1rem;
      font-size: .9rem;
      text-align: center;
    }
  }
}

.infogram-embed {
  margin: 0 auto;
  width: 100%;
}